.card {
  flex-basis: 100%;
  margin-left: 2px;
}

.card:hover {
  border-left: 2px solid darkseagreen;
  margin-left: 0px;
}

.card .header {
  margin-top: 0;
  background-color: forestgreen;
  color: black;
}

.card:hover .header {
  background-color: darkseagreen;
}

@keyframes flickerAnimation {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.card .header::before {
  content: "> ";
}

.card:hover .header::after {
  content: " _";
  animation: flickerAnimation 1.05s infinite;
}