body {
  color: forestgreen;
  background-color: #000000;
  font-family: VT323, monospace;
  font-size: 15px;
}

a:link, a:visited {
  color: seagreen;
}

a:hover {
  color: greenyellow;
}

a:active {
  color: red;
}

ul {
  list-style-type: none;
}

li::before {
  content: '>';
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #228b22;
  border: 0px none #ffffff;
  border-radius: 50px;
}

/*TODO make this change depending on div containing it hovering*/
::-webkit-scrollbar-thumb:hover {
  background: #8fbc8f;
}

::-webkit-scrollbar-thumb:active {
  background: #8fbc8f;
}

::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #000000;
}

::-webkit-scrollbar-track:active {
  background: #000000;
}

::-webkit-scrollbar-corner {
  background: transparent;
}