.content {
  width: 100%;
  height: 600px;
  display: flex;
}

.container {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#rightframe {
  width: 100%;
  height: 100%;
  border: 0px;
}